* 
{
    box-sizing: border-box;
}
[class="width-wrap"] 
{
    max-width: 960px; margin: auto;
    padding: 2em;
    margin-bottom: 3em;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(000,000,000,0.3);
    background-color: #8285B0;
}
body
{
    color:#A7272A;
    background-color:#A7272A;
}
nav a
{
    color:crimson;
}
nav a:hover
{
    background-color: lime;
}
a
{
    color:#A7272A;
}
h1
{
    color: #060608;
}
h2
{
    color: #060608;
}
h3
{
    color: #060608;
}
hr
{
    max-width: 890px;
    min-width: 300px;
    width: 50vw;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 3px dotted red;
}
dt::after
{
   content:":"; 
}